.banner-slider{
  margin: 0 auto;
  display: inline-block;
  max-width: 1024px;
  &__imagewrap{
    display: inline-block;
    border: blue;
    img{
      width: 100%;
      max-width: 100%;
    }
  }
}