.subtitle {
  margin-bottom: 15px;
  padding: 0px 12px;
  &__subject {
    display: inline-block;
    font-weight: bold;
    font-size:1.625em;
  }
  &__morebtn {
    float: right;
    font-size:1em;
    color: #757575;
  }
}

@media all and (max-width:425px){
  .subtitle{
    &__subject {
      font-size:1.0625em;
    }
    &__morebtn{
     font-size:0.6875em;
    }
  }
}